.dataTables_processing {
    position: absolute;
    top: 50%;
    transition:all 2s ease;
    left: calc(50% - 180px);
    width: 250px;
    right: 0;
    height: 60px;
    margin-left: 0;
    margin-top: -25px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.2em;
    background: rgba(51, 51, 51, 0.83);
}
